<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>All users</title>
    </head>
    <body>
        <main class="holdContent">
            <div class="pageTittle">
                <h2>
                    All Users
                </h2>
            </div>
            <form class="holdInputButton" action="/users/new" method="POST">
                <table>
                    <thead>
                        <td>
                            ID
                        </td>
                        <td>
                            Full Name
                        </td>
                        <td>
                            Email
                        </td>
                        <td>
                            Created at
                        </td>
                    </thead>
                    <tbody>
                        {% for i in users: %}
                            <tr>                   
                                <td>
                                    {{users['id']}}
                                </td>
                                <td>
                                    {{users['first_name']}} {{users['last_name']}}
                                </td>
                                <td>
                                    {{users['email']}}
                                </td>
                                <td>
                                    {{users['created_at']}}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div>
                    <a href="/users/new">Add a New User</a>
                </div>
            </form>
        </main>
    </body>
</html>